certifi==2024.8.30
chardet==5.2.0
idna==3.10
joblib==1.4.2
nba-scraper==1.0.8
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.2
scipy==1.11.4
six==1.16.0
SQLAlchemy==2.0.36
urllib3==2.2.3
pytest==8.3.3
psycopg2-binary==2.9.9
codecov==2.1.13
pytest-cov==5.0.0
